# macOS
.DS_Store

# Dotnet
/backend/**/bin/
/backend/**/obj/
/.dotnet/
/.nuget/
/backend/DevTaskHub.Api/devtaskhub.db
/backend/DevTaskHub.Api/Data/devtaskhub.db
*.db

# Node
/frontend/devtaskhub-frontend/node_modules/
/frontend/devtaskhub-frontend/dist/
/frontend/devtaskhub-frontend/coverage/

# Cypress artifacts
/frontend/devtaskhub-frontend/cypress/videos/
/frontend/devtaskhub-frontend/cypress/screenshots/

# Logs
*.log

# IDEs
.vscode/
.idea/
